body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  line-height: 1.4;

}

.main {
  width: 100%;
  max-width: 55rem;
  padding: 2rem;
  background-color: rgba(216, 216, 201, 0.897);
  margin: 0 auto;
  line-height: 1em;

  img {
    width: 25%;
    height: auto;
    border-radius: 20%;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    
  }

}


p{
    margin-bottom: 1.4;
    font-size: 1,25em;
}


